{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>Lista de Ações</h3>
        <a href="{% url 'Auth:adicionar_acao' %}" class="btn btn-primary">Adicionar Nova Ação</a>
    </div>

    <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Número da Ação</th>
                        <th>Tipo de Ação</th>
                        <th>Data de Execução</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for acao in acoes %}
                    <tr>
                        <td>{{ acao.numero_acao }}</td>
                        <td>{{ acao.tipo_acao.nome_acao }}</td>
                        <td>{{ acao.data_execucao|date:"d/m/Y" }}</td>
                        <td>
                            <a href="{% url 'Auth:editar_acao' id_unico=tipo.id_unico %}" class="btn btn-sm btn-info">Editar</a>
                            <a href="{% url 'Auth:excluir_acao' id_unico=tipo.id_unico %}" class="btn btn-sm btn-danger">Excluir</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">Nenhuma ação cadastrada.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}